LB_BASE_URL="https://api.listenbrainz.org" # DEFAULT DON'T CHANGE EXCEPT IF U KNOW WHAT U ARE DOING
LB_USER="USERNAME" # LISTENBRAINZ USERNAME TO FETCH DISCOVERY PLAYLIST
SUBSONIC_USER="USERNAME"
SUBSONIC_PASS="PASSWORD"
SUBSONIC_URL="http://octo-fiesta:5274" # SUBSONIC URL
LOCAL_DOWNLOAD_PATH="/home/teddy/blackpearl/seedbox/music" # WHERE MUSIC IS
YOUTUBE_FALLBACK="true" # SET TO "false" TO DISABLE YOUTUBE FALLBACK WHEN TRACK IS NOT FOUND ON SUBSONIC
CLEANUP_DOWNLOADS="true" # SET TO "false" TO KEEP DOWNLOADED FILES WHEN CLEANING UP OLD PLAYLISTS
